.nav-bar {
	height: min-content;
	background-color: skyblue;
}

.nav-bar .left {
	height: 100%;
}

.nav-bar .right {
	height: 100%;
}

.nav-bar button {
	height: 100%;
	padding: 1ex;
	background: none;
	border: 1px solid black;
}

.nav-bar button:hover {
	background: white;
}

.actions {
	display: flex;
	margin-top: 1em;
	flex-direction: column;
	background-color: skyblue;
	border-radius: 1em;
}

.actions a {
	flex: 1;
	padding: 1em;
	text-align: center;
	color: black;
	text-decoration: none;
}

.actions a:hover {
	background-color: white;
	border: 2px solid skyblue;
}
