{% extends "base.html" %}

{% block body %}
<h1 class="bg-primary-subtle">Preguntas</h1>
<ul class="list-group">
	{% for question in object_list %}
	<li class="list-group-item">{{ question }}</li>
	{% empty %}
	<li class="list-group-item">No questions yet. </li>
	{% endfor %}
</ul>

<div class="btn-group">
	<a class="btn btn-primary" href="{% url 'surveys:pollsters-dashboard' %}">Dashboard</a>
	<a class="btn btn-primary" href="{% url 'surveys:question-create' %}">Crear Pregunta</a>
</div>

{% endblock %}
