{% extends "base.html" %}

{% block body %}
<h1 class="bg-primary-subtle">Encuestados</h1>
<ul class="list-group">
	{% for respondent in object_list %}
	<li class="list-group-item">{{ respondent }}</li>
	{% empty %}
	<li class="list-group-item">No respondent yet.</li>
	{% endfor %}
</ul>

<div class="btn-group">
	<a class="btn btn-primary" href="{% url 'surveys:pollsters-dashboard' %}">Dashboard</a>
	<a class="btn btn-primary" href="{% url 'surveys:respondents-register' %}">Agregar usuario</a>
</div>

{% endblock %}
