{% extends "pollsters/base.html" %}

{% block body %}
<div class="nav-bar">
	<div class="left">
		{{ user.username }}
	</div>
	<div class="right">
		<form method="POST" action="{% url 'surveys:pollsters-logout' %}">
			{% csrf_token %}
			<button type="submit">Salir</button>
		</form>
	</div>
</div>

<div class="actions">
	<a href="{% url 'surveys:survey-list' %}">Encuestas</a>
	<a href="{% url 'surveys:question-list' %}">Preguntas</a>
	<a href="{% url 'surveys:respondents-list' %}">Encuestados</a>
</div>

{% endblock %}
