{% extends "surveys/base.html" %}

{% block title %}{{ survey }}{% endblock %}

{% block body %}

<h1>Survey "{{ survey }}"</h1>
<p>Created by: {{ survey.created_by }}</p>
<p>Creation date: {{ survey.date_of_creation|date }}</p>

<a class="btn btn-secondary container-fluid" href="{% url 'surveys:survey-list' %}">Ver encuestas</a>

<div class="container-fluid mt-1 mb-1">
{% for question, answers in question_answers %}
	<div class="container-fluid bg-primary-subtle mt-1">
		<p>Question: {{ question }}</p>
		<ul class="list-group">
		<p>Answers:</p>
		{% for answer in answers %}
			<li class="list-group-item">{{ answer }}</li>
		{% empty %}
			<li class="list-group-item">No answers yet.</li>
		{% endfor %}
		</ul>
	</div>
{% endfor %}
</div>

<form class="container-fluid" method="post">
	{% csrf_token %}
	<label for="{{ questions_form.questions.id_for_label }}">Seleccione las preguntas que desea agregar al formulario.</label>
	{{ questions_form.questions }}
	<input type="submit" value="Agregar selección">
</form>

{% endblock body %}
