{% extends "surveys/base.html" %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'surveys/list.css' %}">
{% endblock %}

{% block title %}{{ survey }}{% endblock %}

{% block body %}
<h1>Survey "{{ survey }}"</h1>
<p>Created by: {{ survey.created_by }}</p>
<p>Creation date: {{ survey.date_of_creation|date }}</p>

<a href="{% url 'surveys:survey-list' %}">Ver encuestas.</a>

<div class="survey-list">
{% for question, answers in question_answers %}
	<div class="survey-list-item">
		<p>Question: {{ question }}</p>
		<ul>
		<p>Answers:</p>
		{% for answer in answers %}
			<li>{{ answer }}</li>
		{% empty %}
			<li>No answers yet.</li>
		{% endfor %}
		</ul>
	</div>
{% endfor %}
</div>

<form method="post">
	{% csrf_token %}
	{{ questions_form }}
	<input type="submit" value="Submit">
</form>

{% endblock body %}
