{% extends "surveys/base.html" %}

{% block body %}
<h1 class="bg-primary-subtle">Surveys</h1>

<div class="btn-group">
    <a class="btn btn-primary" href="{% url 'surveys:pollsters-dashboard' %}">Dashboard</a>
    <a class="btn btn-primary" href="{% url 'surveys:survey-create' %}">Crear encuesta</a>
    <a class="btn btn-primary" href="{% url 'surveys:question-create' %}">Crear pregunta</a>
</div>

<div class="container-fluid mt-1">
{% for survey in object_list %}
    <div class="container-fluid bg-primary-subtle mt-1">
	<div class="container-fluid">
	    "{{ survey.survey_name }}"
	    ({{ survey.question_set.count }} pregunta{{ survey.question_set.count|pluralize }},
	    {{ survey.answer_set.count }} respuesta{{ survey.answer_set.count|pluralize }}).
	</div>
	<div class="container-fluid btn-group">
	    <a class="btn btn-secondary" href="{% url 'surveys:survey-dashboard' survey.id %}">Editar</a>
	    <a class="btn btn-secondary" href="{% url 'surveys:survey-fill' survey.id %}">Rellenar</a>
	</div>
    </div>
{% empty %}
    <p>No hay encuestas.</p>
{% endfor %}
</div>
{% endblock %}
