{% extends "surveys/base.html" %}

{% load static %}

{% block stylesheet %}
{{ stylesheet.super }}
<link rel="stylesheet" href="{% static 'surveys/list.css' %}">
{% endblock %}

{% block body %}
<h1>Surveys</h1>

<a href="{% url 'surveys:survey-create' %}">Create Survey</a>

<div class="survey-list">
{% for survey in object_list %}
	<div class="survey-list-item">
	Survey
	"{{ survey.survey_name }}"
	has
	{{ survey.question_set.all.count }}
	questions.
	<hr>
	<a href="{% url 'surveys:survey-dashboard' survey.id %}">Edit</a>
	--
	<a href="{% url 'surveys:survey-fill' survey.id %}">Fill</a>
	</div>
{% empty %}
    <p>No surveys yet.</p>
{% endfor %}
</div>
{% endblock %}
