h1 {
	background-color: skyblue;
}

.survey-list {
	display: flex;
	flex-direction: column;
	gap: 1ex;
	width: 100%;
	margin-top: 1em;
}

.survey-list-item {
	padding: 1ex;
	border-radius: 1em;
	border: 2px solid coral;
}

